body {
  margin: 0;
  background: #000;
  font-family: Arial, sans-serif;
  color: white;
}

/* INTRO */
#intro {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#intro img {
  width: 280px;
  animation: bounce 1.8s ease, glow 1.8s ease;
}

/* APP */
.hidden {
  display: none;
}

/* GRID 3x3 */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
}

/* CARD */
.card {
  border: 2px solid #ff2d95;
  box-shadow: 0 0 15px #ff2d95;
  padding: 10px;
  transition: transform 0.2s;
}

.card:active {
  transform: scale(0.95);
}

.card img {
  width: 100%;
  display: block;
}

/* BOUTON */
button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  background: #e50914;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

button:active {
  transform: scale(0.9);
}

/* ANIMATIONS */
@keyframes bounce {
  0% { transform: scale(0.6); }
  60% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

@keyframes glow {
  0% { box-shadow: 0 0 0 #ff2d95; }
  60% { box-shadow: 0 0 40px #ff2d95; }
  100% { box-shadow: 0 0 20px #ff2d95; }
}
