body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* INTRO */
#intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 220px;
  animation: bounce 2s ease, glow 1.5s infinite alternate;
}

@keyframes bounce {
  0% { transform: scale(0.5); opacity: 0; }
  60% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes glow {
  from { filter: drop-shadow(0 0 15px #ff2d95); }
  to { filter: drop-shadow(0 0 40px #ff2d95); }
}

.hidden { display: none; }

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  padding: 20px;
  max-width: 380px;
  margin: auto;
}

.card {
  border: 2px solid #ff2d95;
  box-shadow: 0 0 15px #ff2d95;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

/* BOUTON */
.card button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: red;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.card button:disabled {
  background: #333;
}

/* ADMIN */
.admin-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.admin-grid button {
  padding: 15px;
  background: #ff2d95;
  border: none;
  color: black;
  font-weight: bold;
}
